html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#mainContent {
  font-family: 'Roboto', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-left: 20rem;
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  tranition: padding-left .35s;
}

.mainContentFullScreen {
  padding-left: 0 !important;
}

#toolbox {
  position: absolute;
  background-color: #1565c0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 0;
  left: 0;
  height: 100%;
  width: 20rem;
  -webkit-transition: left .35s;
  transition: left .35s;
}

.toolboxHidden {
  left: -20rem !important;
}

#pulloutTab {
  position: absolute;
  right: -2.5rem;
  top: 0;
  width: 2rem;
  padding: 0 .5rem;
  background-color: #1565c0;
  border-radius: 0 .5rem .5rem 0;
}

#rightArrow {
  display: none;
}

#leftArrow {
  display: block;
}

.rightArrowShow {
  display: block !important;
}

.leftArrowHide {
  display: none !important;
}

.row {
  margin: 1rem .5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#sizeRow {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#penToolRow {
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 3px solid white;
  border-radius: .5rem;
  padding-top: .75rem;
  -webkit-transition: all .3s;
  transition: all .3s;
}

#penToolRow:hover {
  border-color: #5e92f3;
}

#penToolRow:hover span {
  color: white;
  background: #5e92f3;
}

#penToolRow span {
  position: absolute;
  background: white;
  top: -.75rem;
  left: .5rem;
  padding: .25rem .5rem;
  border-radius: .25rem;
  -webkit-transition: all .3s;
  transition: all .3s;
}

#penToolRow svg {
  background: white;
  width: 25px;
  margin: .5rem;
  padding: 1rem;
  -webkit-clip-path: circle(48%);
          clip-path: circle(48%);
  -webkit-transition: all .3s;
  transition: all .3s;
}

#penToolRow svg:hover {
  color: white;
  background: #5e92f3;
}

#shapeToolRow {
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 3px solid white;
  border-radius: .5rem;
  padding-top: .75rem;
  -webkit-transition: all .3s;
  transition: all .3s;
}

#shapeToolRow:hover {
  border-color: #5e92f3;
}

#shapeToolRow:hover span {
  color: white;
  background: #5e92f3;
}

#shapeToolRow span {
  position: absolute;
  background: white;
  top: -.75rem;
  left: .5rem;
  padding: .25rem .5rem;
  border-radius: .25rem;
  -webkit-transition: all .3s;
  transition: all .3s;
}

#shapeToolRow button {
  background: white;
  width: 50px !important;
  height: auto;
  margin: .5rem;
  outline: none;
  border: none;
  border-radius: .25rem;
  -webkit-transition: all .3s;
  transition: all .3s;
}

#shapeToolRow button:hover {
  color: white;
  background: #5e92f3;
}

#textInputRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#uploadRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#customeColorContainer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border: 3px solid white;
  border-radius: .5rem;
  padding: .5rem;
  padding-top: 1.5rem;
  -webkit-transition: all .3s;
  transition: all .3s;
}

#customeColorContainer:hover {
  border-color: #5e92f3;
}

#customeColorContainer:hover span {
  color: white;
  background: #5e92f3;
}

#customeColorContainer span {
  position: absolute;
  background: white;
  top: -.75rem;
  left: .5rem;
  padding: .25rem .5rem;
  border-radius: .25rem;
  -webkit-transition: all .3s;
  transition: all .3s;
}

#customeColorContainer #colorSlidersDiv {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#customeColorContainer #colorSlidersDiv #colorR {
  background-color: red;
}

#logoContainer {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

#logoContainer div img {
  width: 100%;
  height: auto;
  opacity: .9;
}

#saveWorkRow {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#saveWorkRow svg {
  background: white;
  width: 25px;
  margin: .5rem 1rem;
  padding: 1rem;
  -webkit-clip-path: circle(48%);
          clip-path: circle(48%);
  -webkit-transition: all .3s;
  transition: all .3s;
}

#saveWorkRow svg:hover {
  color: white;
  background: #5e92f3;
}
/*# sourceMappingURL=index.css.map */